<html>
<head>
    <title>wakiHow</title>
     <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div id="container">
    <div id="article_shell">
        <div id="article">
            <div id="bodycontents">
                <div id="intro">
                    <h1 class="firstHeading">
                        How to Do Nothing, from wikiHow!
                    </h1>
                </div>
                {% if needs_exist %}
                <div class="section thingsyoullneed">
                    <h2 class=""><span class="mw-headline" id="Things_You.27ll_Need">Things You'll Need</span></h2>
                    <div id="thingsyoullneed" class="section_text">
                        <ul>
                            {% autoescape false %}
                            {% for needed in needs %}
                                {{ needed }}
                            {% endfor %}
                            {% endautoescape %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div id="steps" class="section_text">
                    <ol class="steps_list_2">
                        {% autoescape false %}
                        {% for step in steps %}
                            {{ step }}
                        {% endfor %}
                        {% endautoescape %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <div class="sidebox">
            <p>Hacked into being by <a href="http://www.twitter.com/Hargrimm">Evan Armour</a>.</p>
            <p>Source available <a href="https://github.com/EArmour/wakiHow">on GitHub</a>.</p>
        </div>
    </div>
</div>
</body>
</html>
