<html>
<head>
    <title>wakiHow</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="icon" type="image/png" href="static/favicon.png">
</head>
<body>
<div id="container">
    <div id="article_shell">
        <div id="article">
            <div id="bodycontents">
                <div id="intro">
                    <h1 class="firstHeading">
                        How to Do Nothing, from wikiHow!
                    </h1>
                </div>
                {% if needs_exist %}
                <div class="section thingsyoullneed">
                    <h2 class=""><span class="mw-headline" id="Things_You.27ll_Need">Things You'll Need</span></h2>
                    <div id="thingsyoullneed" class="section_text">
                        <ul>
                            {% for needed in needs %}
                                {{ needed }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="section steps sticky">
                    <div id="steps" class="section_text">
                        <ol class="steps_list_2">
                            {% for step in steps %}
                                {{ step }}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                {% if warnings_exist %}
                <div class="section warnings sticky">
                    <h2 class=""><span class="mw-headline" id="Warnings">Warnings</span></h2>
                    <div id="warnings" class="section_text">
                        <ul>
                            {% for warning in warnings %}
                                {{ warning }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="section sticky">
                    <h2><span class="mw-headline">Credits</span></h2>
                    <div class="section_text">
                        Text and images from <a href="http://www.wikihow.com/Main-Page">WikiHow</a>, licensed under
                        <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA</a>:
                        <ol>
                            {% for source in sources %}
                                {{ source }}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <div class="sidebox">
            <p>A dumb thing by <a href="http://www.twitter.com/Hargrimm">Evan Armour</a>.</p>
            <p>Source available <a href="https://github.com/EArmour/wakiHow">on GitHub</a>.</p>
        </div>
        <div class="sidebox">
            How many steps?
            <form action="{{ url_for('display') }}" method="post">
                <select name="count">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="9">9</option>
                </select>
                <input type="submit" value="Go!"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
